/* EXPERIMENT 2: VOID */

body {
    background-image:
        radial-gradient(
            circle at 85% 18%,
            #050505 0,
            #050505 65px,
            rgba(5, 5, 5, 0.8) 66px,
            rgba(5, 5, 5, 0.2) 72px,
            transparent 105px
        ),
        radial-gradient(
            circle at 8% 68%,
            rgba(0, 0, 0, 0.7) 0,
            rgba(0, 0, 0, 0.7) 25px,
            transparent 27px
        ),
        repeating-linear-gradient(
            0deg,
            transparent,
            transparent 3px,
            rgba(0, 0, 0, 0.025) 4px
        );
}

#intro {
    background-image:
        radial-gradient(
            circle at 90% 45%,
            var(--black) 0,
            var(--black) 45px,
            transparent 47px
        );
}

article {
    border-radius: 0;
}

figure img {
    box-shadow:
        9px 9px 0 black,
        13px 13px 0 rgba(114, 27, 27, 0.25);
}