/* EXPERIMENT 3: CYBER-SIGIL */

h2 {
    position: relative;
    padding-left: 42px;
}

h2::before {
    content: "";
    position: absolute;

    left: 5px;
    top: 50%;

    width: 24px;
    height: 24px;

    border-left: 2px solid var(--red);
    border-right: 2px solid var(--red);

    transform: translateY(-50%) rotate(45deg);
}

section + section {
    position: relative;
}

section + section::before {
    content: "×";

    position: absolute;

    top: -17px;
    left: 50%;

    padding: 0 10px;

    background-color: var(--background);

    color: var(--red);

    font-family: "IBM Plex Mono", monospace;
    font-size: 1.4rem;

    transform: rotate(45deg);
}

article {
    border-left: 3px solid var(--dark-red);
}

article h3::after {
    content: " ┼";

    color: var(--red);
}